<div class="container-fluid c-f bg-container-web pb-5">
    <div class="d-flex flex-column text-center form-c">
        <h1 class="title">Autos disponibles</h1>
        <p class="sub-title">VLICARS</p>
    </div>
    </div>
 <div class="p-3 pt-5">
        <table class="table table-hover" style="background-color: #0000000f; width: 100%;">
            <thead>
              <tr>
                <th scope="col">Auto</th>
                <th scope="col">Pasajeros</th>
                <th scope="col">Equipaje grande</th>
                <th scope="col">Equipaje pequeño</th>
                <th scope="col">Fumar</th>
                <th scope="col">Clima</th>
                <th scope="col">Chofer</th>
                <th scope="col">Tipo</th>
                <th scope="col">Precio por día</th>
                <th scope="col">Acción</th>
             
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let car of cars; let i = index">
                <td>{{car.carBrand}}</td>
                <td>{{car.persons}}</td>
                <td>{{car.largeBaggage}}</td>
                <td>{{car.smallBaggage}}</td>
                <td>
                  <p *ngIf="!car.smoke">NO</p>
                  <p *ngIf="car.smoke">SI</p>
                </td>
                <td>
                  <p *ngIf="!car.airConditioner">NO</p>
                  <p *ngIf="car.airConditioner">SI</p>
                </td>
                <td>
                  <p *ngIf="!car.chofer">NO</p>
                  <p *ngIf="car.chofer">SI</p>
                </td>
                <td>{{car.type}}</td>
                <td>${{car.price_day | number}}</td>
                <td>
                    <a class="btn">Rentar</a>
                </td>
              </tr>
            </tbody>
          </table>
    
        </div>