<div class="container-fluid c-f bg-container-web pb-5">
    <div class="d-flex flex-column text-center form-c">
        <h1 class="title">Autos rentados no disponibles</h1>
        <p class="sub-title">VLICARS</p>
    </div>
    </div>
 <div class="p-3 pt-5">
        <table class="table table-hover" style="background-color: #0000000f; width: 100%;">
            <thead>
              <tr>
                <th scope="col">Auto</th>
                <th scope="col">Nombre usuario</th>
                <th scope="col">Cel</th>
                <th scope="col">Fecha y hora de entrega</th>
                <th scope="col">Fecha y hora devolución</th>
                <th scope="col">Ciudad y lugar de entrega</th>
                <th scope="col">Días de renta</th>
                <th scope="col">Precio total</th>
                <th scope="col">Codigo</th>
                <th scope="col">Info tarjeta</th>
             
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of carsRent; let i = index">
                <td>{{item.auto}}</td>
                <td>{{item.name}} {{item.surname}}</td>
                <td>{{item.cel}}</td>
                <td>{{item.fechaEntrega}}, {{item.horaEntrega}}</td>
                <td>{{item.fechaDevolucion}}, {{item.horaDevolucion}}</td>
                <td>{{item.direccion}}, {{item.ciudad}}</td>
                <td class="text-center">{{item.totalRentDays}}</td>
                <td>${{item.priceFinal | number}}</td>
                <td class="text-blue{">{{item.numOrder}}</td>
                <td>
                  <a class="btn cursor" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="infoCard(item)">Datos tarjeta</a>
                </td>
              </tr>
            </tbody>
          </table>
    
        </div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Información de su tarjeta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 20px;">
          <p> <span class="text-blue">Nombre: </span> {{datosCar.name}} {{datosCar.surname}}</p>
          <p> <span class="text-blue">Número de tarjeta: </span> {{datosCar.numCard}}</p>
          <p><span class="text-blue">Fecha de vencimiento: </span> {{datosCar.expCard}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>