.container-fluid {
  
  padding-left: 0; 

}
.title-cars{
    margin-left: 0;
    color: #013D89;
    font-size: 40px;
}
.btn{
    color: white;
    width: 50%;
    background-color: #013D89;
  }
  .icon-img{
    width: 100px;
  }
  .icon-img-svg{
    width: 150px;
  }
