
<div class="container-fluid bg-container-web">
<div class="d-flex flex-column text-center form-c">
    <h1 class="title">Bienvenido al Back Office</h1>
    <p class="sub-title">VLICARS</p>
</div>
</div>

 <div class="row justify-content-center px-5 py-5" style="background-color: #0000000f;">
    <div class="col-12">
      <h1 class="title-cars text-center pb-3">Servicios VLICARS</h1>
      <div class="row row-grid">

        <div class="col-lg-4 text-center">
          <div class="card card-lift--hover shadow border-0">
            <div class="card-body py-5">
              <div class="icon-shape icon-shape-primary rounded-circle mb-4">
                <img src="/assets/icons/car-rent.svg" class="icon-img" alt="">
              </div>
              <h6 class="text-primary text-uppercase">Autos rentados</h6>
              <p class="description mt-3">
                Aqui podras encontrar los autos que estan apartados o en uso
              </p>
              <a
                href="javascript:void(0)"
                [routerLink]="'/car-rent'"
                class="btn"
                >Ver mas <i class="fa fa-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 text-center">
          <div class="card card-lift--hover shadow border-0">
            <div class="card-body py-5">
              <div class="icon-shape icon-shape-primary rounded-circle mb-4">
                <img src="/assets/icons/car-free.svg" class="icon-img-svg" alt="">
              </div>
              <h6 class="text-primary text-uppercase">
                Autos disponibles
              </h6>
              <p class="description mt-3">Aqui encontraras los autos que tienes disponibles</p>
              <a
                href="javascript:void(0)"
                class="btn "
                [routerLink]="'/car-free'"
                >Ver mas <i class="fa fa-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 text-center">
          <div class="card card-lift--hover shadow border-0">
            <div class="card-body py-5">
              <div class="icon-shape icon-shape-primary rounded-circle mb-4">
                <img src="/assets/icons/car-plus.svg" class="icon-img" alt="">
              </div>
              <h6 class="text-primary text-uppercase">Rentar auto nuevo</h6>
              <p class="description mt-3">
                Agrega autos nuevos a la lista para que otros usuarios puedan rentarlos
              </p>
              <a
                href="javascript:void(0)"
                class="btn "
                [routerLink]="'/car-plus'"
                >Ver más <i class="fa fa-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
